.form-check-custom {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-check-input{
    width: 15px; 
    height: 15px;
    margin-right: 10px;
}

.btn-login {
    width: 30%;
}

@media screen and (max-width: 600px) {
    .btn-login {
        width: 70%;
    }
}