@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

#map {
    width: 100vw;
    height: 100%;
    position: absolute;
}
